* {
    font-family: "Hack Nerd Font Propo";
    font-size: 12pt;
    font-weight: bold;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

@keyframes blink_red {
    to {
        background-color: rgb(242, 143, 173);
        color: rgb(26, 24, 38);
    }
}

.warning,
.critical,
.urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

window#waybar {
    background-color: transparent;
}

window>box {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: rgb(30, 30, 46);
}

#workspaces {
    padding-left: 0px;
    padding-right: 4px;
}

#workspaces button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

#workspaces button.active {
    background-color: rgb(181, 232, 224);
    color: rgb(26, 24, 38);
}

#workspaces button.urgent {
    color: rgb(26, 24, 38);
}

#workspaces button:hover {
    background-color: rgb(248, 189, 150);
    color: rgb(26, 24, 38);
}

tooltip {
    background: rgb(48, 45, 65);
}

tooltip label {
    color: rgb(217, 224, 238);
}

#custom-launcher {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 6px;
    color: #7ebae4;
}

#mode,
#clock,
#memory,
#idle_inhibitor,
#cpu,
#mpd,
#mpris,
#custom-wall,
#temperature,
#backlight,
#pulseaudio,
#language,
#network,
#battery,
#custom-powermenu,
#custom-yubikey,

/* #mode { */
/* 	margin-left: 10px; */
/* 	background-color: rgb(248, 189, 150); */
/*     color: rgb(26, 24, 38); */
/* } */
#memory {
    /* #b5e8e0 */
    color: rgb(181, 232, 224);
}

#cpu {
    /* #f5c2e7 */
    color: rgb(245, 194, 231);
}

#clock {
    /* #d9e0ee */
    color: rgb(217, 224, 238);
}

#idle_inhibitor {
    /* #ddb6f2 */
    color: rgb(221, 182, 242);
}

#custom-wall {
    /* #ddb6f2 */
    color: rgb(221, 182, 242);
}

#temperature {
    /* #96cdfb */
    color: rgb(150, 205, 251);
}

#backlight {
    /* #f8bd96 */
    color: rgb(248, 189, 150);
}

#pulseaudio {
    /* #f5e0dc */
    color: rgb(245, 224, 220);
}

#language {
    /* #ddb6f2 */
    color: rgb(221, 182, 242);
}

#network {
    color: #abe9b3;
}

#network.disconnected {
    /* #ffffff */
    color: rgb(255, 255, 255);
}

#battery.charging,
#battery.full,
#battery.discharging {
    /* #fae3b0 */
    color: rgb(250, 227, 176);
}

#battery.critical:not(.charging) {
    /* #f28ad */
    color: rgb(242, 143, 173);
}

#custom-powermenu {
    /* #f28ad */
    color: rgb(242, 143, 173);
}

#custom-yubikey {
    /* #ddb6f2 */
    color: rgb(221, 182, 242);
}

#tray {
    padding-right: 8px;
    padding-left: 10px;
}

#mpris.paused {
    color: #414868;
    font-style: italic;
}

#mpris.stopped {
    background: transparent;
}

#mpris {
    color: #c0caf5;
}

#mpd.paused {
    color: #414868;
    font-style: italic;
}

#mpd.stopped {
    background: transparent;
}

#mpd {
    color: #c0caf5;
}
