name: Nix Flake

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  self-care:
    name: Flake self-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v5
        with:
          fail-mode: true

  nixos-test:
    name: "NixOS Nix Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Install Nix ❄️"
        uses: DeterminateSystems/nix-installer-action@v9

      - name: "Nix Cache"
        uses: DeterminateSystems/magic-nix-cache-action@v2

      - name: "Build NixOS config ❄️"
        run: nix build --dry-run -L '.#nixosConfigurations.framework.config.system.build.toplevel' --show-trace

  macos-x86-test:
    name: "macOS Intel Nix Test"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Install Nix ❄️"
        uses: DeterminateSystems/nix-installer-action@v9

      - name: "Nix Cache"
        uses: DeterminateSystems/magic-nix-cache-action@v2

      - name: "Build NixOS config ❄️"
        run: nix run nix-darwin -- check --flake .#macbook_x86

  macos-arm-test:
    name: "macOS Apple Silicon Nix Test"
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: "Install Nix ❄️"
        uses: DeterminateSystems/nix-installer-action@v9

      - name: "Nix Cache"
        uses: DeterminateSystems/magic-nix-cache-action@v2

      - name: "Build NixOS config ❄️"
        run: nix run nix-darwin -- check --flake .#macbook
